
<h1>Add Event</h1>
<form method="post">
    <label for="name">Event</label><br />
    <input type="text" name="name"/><br />
    <label for="description">Description</label><br />
    <textarea name="description"></textarea><br />
    <input type="submit" value="Add Event" />
</form>